<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <title>welcome to our forum</title>
</head>
<body>
<footer>
    <header th:replace="layout::site-header"></header>
</footer>
<div class="container">
    <div class="col-md-2 col-sm-2" id="left">
        <div th:if="${not #lists.isEmpty(sections)}">
            <div class="container" th:replace="layout::site-sections"></div>
        </div>
    </div>

    <div class="col-md-10 col-sm-10" id="right">
        <br/>
        <br/>
        <br/>
        <div>
            <table class="table table-hover">
                <tr class="bg-primary">
                    <th class="col-md-2">Theme</th>
                    <th class="col-md-10">Last message</th>
                </tr>
                <tr th:each="message : ${messages}">
                    <td class="col-md-2 bg-success text-center">
                        <h4>
                            <p class="text-primary">
                                <a th:href="${'/topic/' + message.topic.id}">
                                    <div th:text="${message.topic.name}"></div>
                                </a>
                            </p>
                        </h4>
                        <!--
                        <h4><p th:text="${message.topic.name}" class="text-primary"></p></h4> -->
                        <span th:text="from "></span> <span
                            th:text="${#calendars.format(message.topic.created,'dd MMMM yyyy')}">19 October 2016</span>

                        <p th:text="${message.topic}"></p>
                    </td>
                    <td class="col-md-10">
                        <blockquote>
                            <a th:href="${'/topic/' + message.topic.id}">
                                <div th:text="${message.content}"></div>
                            </a>
                            <footer>
                                <span th:text="${message.user}"></span>
                                <span>
                                wrote at
                            </span>
                                <span th:text="${#calendars.format(message.created,'dd MMMM yyyy HH:mm')}">
                            </span>
                            </footer>
                        </blockquote>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Pagination Bar -->
        <div th:if="${not #lists.isEmpty(messages)}">
            <div th:replace="layout::paginationbar">
            </div>
        </div>

        <div>
            <a href="message.html" th:href="@{/message/add}">enter new message</a>
        </div>
    </div>
</div>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>