<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <title>welcome to our forum</title>
</head>
<body>
<header th:replace="layout::site-header"></header>
<div class="container">
    <br/>
    <br/>
    <br/>

    <form action="#" th:action="@{/message/save}" th:object="${message}" method="post">
        <table>
            <tr>
                <td>
                    <br/>
                    <select th:field="*{topic}">
                        <option th:each="topic : ${topics}"
                                th:value="${topic.id}"
                                th:text="${topic.name}">topics
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <input type="hidden" th:field="*{id}"/>
                <td><input type="text" th:field="*{header}"/>header</td>
            </tr>
            <tr>
                <td>Content:</td>

                <!-- <textarea class="form-control" type="textarea" id="message" th:field="*{content}" placeholder="Additional Services" maxlength="140" rows="3" name="additional_services"></textarea>-->

                <!--<td><input type="textarea" th:field="*{content}"/></td> -->

            </tr>

            <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" th:field="*{content}"
                          placeholder="Additional Services" maxlength="140" rows="3"
                          name="additional_services"></textarea>
                <span class="help-block"><p id="characterLeft" class="help-block ">You have reached the limit</p></span>
            </div>
        </table>
        <button type="submit">Submit post</button>
    </form>
    <br/>
    <br/>
    <br/>
</div>
<footer th:replace="layout :: site-footer"></footer>
</body>
</html>