<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <title></title>
</head>
<body>
<div class="container" th:replace="layout::site-header"></div>
<br/>
<br/>
<br/>
<div class="container">
    <form action="#" th:action="@{/editTopic}" th:object="${topic}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{section.id}"/>
        <input type="hidden" th:field="*{user.id}"/>
        <input type="text" th:field="*{name}"/>
        <input type="submit" th:value="Edit"/>
    </form>
</div>
<div class="container">
    <div th:if="${not #lists.isEmpty(topics)}">
        <h3>Topic list</h3>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="topic : ${topics}">
                <td th:text="${topic.id}"><a href="/topic/${topic.id}">Id</a></td>
                <td th:text="${topic.name}">name</td>

                <td><a th:href="${'/topics/edit/' + topic.id}">Edit</a></td>
                <td><a th:href="${'/topics/delete/' + topic.id}">Delete</a></td>
            </tr>
        </table>
    </div>
    <!-- Pagination Bar -->
    <div th:replace="layout::paginationbar">
    </div>
</div>
<footer th:replace="layout :: site-footer"/>
</body>
</html>