<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <title></title>
</head>
<body>
<header th:replace="layout::site-header"></header>
<div class="container">
    <h2>Topic details</h2>

    <div>
        <form class="form-horizontal" th:object="${topic}" th:action="@{/topics}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">name:</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">created:</label>

                <div class="col-sm-10">
                    <input type="datetime" class="form-control" th:field="*{created}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">user:</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{user}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">section:</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{section}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>